[submodule "libraries/eigen"]
	path = libraries/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/csvstream"]
	path = libraries/csvstream
	url = https://github.com/awdeorio/csvstream.git
[submodule "libraries/etl"]
	path = libraries/etl
	url = https://github.com/ETLCPP/etl.git
